@model FractionsQuestion


@{
    <div>
    hello
    <div class="fraction">
        <p class="denominator">
            @Model.LeftDenominator</p>
        <p class="numerator">@Model.LeftNumerator</p>
    </div>
    <p class="display-3" style="margin: 0;">
        @Model.Operator
    </p>
    <div class="fraction">
        <p class="denominator">@Model.RightWholeNumber</p>
    </div>
</div>
}