@model ArithmeticQuestion

<div>
    <h1 class="h1">Arithmetic Question</h1>
    <p id="question" class="display-1">@Model.Operand1.ToString("N0") @Model.Operator @Model.Operand2.ToString("N0") = ?</p>

    <p id="answer" class="display-1" style="display: none">Answer: @Model.Answer.ToString("N0")</p>

    <div style="display: flex; justify-content: start; gap: 10px;">
        <form method="post" asp-action="Index" asp-controller="Question">
            <input type="submit" value="Generate New Question" class="btn btn-primary" />
        </form>

        <button class="btn btn-outline-primary" id="revealButton" >Reveal Answer</button>

    </div>
</div>

@section Scripts {
<script>
    document.getElementById('revealButton').addEventListener('click', function() {
        var answer = document.getElementById('answer').textContent.replace('Answer: ', '');
        var question = document.getElementById('question');
        question.textContent = question.textContent.replace('?', answer);
    });
</script>
}