html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#timer {
  font-size: 56px; /* 4 times the current size of 24px */
}


#startButton {
  font-size: 24px; /* 4 times the current size of 24px */
}


#button-timer-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.question-number {
  font-size: 24px; /* Adjust this value as needed */
}